# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Claude Code
.claude/settings.local.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
